* {
    padding: 0;
    margin: 0;
}
html,body {
	height: 100%;
	width: 100%;
}
#app {
    background: grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 99%;
}

.header-box {
	flex: 6;
    display: flex;
    max-height: 50vh;
}

.calc {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.calc-row {
    flex: 1;
    display: flex;
}

.calc-row>.btn {
    flex: 1;
    font-size: 28px;
}
.calc-row>.h4 {
    font-size: 16px;
}

.calc-row>.btn-enter {
    flex: 2;
    font-size: 18px;
}

.footer {
    display: flex;
}

.selection-box {
	flex: 6;
	display: flex;
	flex-direction: column;
}
.remark-group {
	flex: 1;
    display: flex;
    background: red;
}

.remark {
    flex: 1;
    text-align: center;
    font-size: 22px;

}

.btn-blue  {
    background:  #007bff;
}
.btn-indigo{
    background:  #6610f2;
}
.btn-purple{
    background:  #6f42c1;
}
.btn-pink  {
    background:  #e83e8c;
}
.btn-red   {
    background:  #dc3545;
}
.btn-orange{
    background:  #fd7e14;
}
.btn-yellow{
    background:  #ffc107;
}
.btn-green {
    background:  #28a745;
}
.btn-teal  {
    background:  #20c997;
}
.btn-cyan  {
    background:  #17a2b8;
}
.bg-light {
    background: #f1f1f1;
}